@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > section {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-bottom: 50px
}

.block_row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#first_div, .black_div {
    background-color: black;
    height: 100px;
    width: 100px;
    margin: 0 20px;
}

#first_div {
    align-self: center;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

[id^="hide_button"], #hide_or_show_button {
    align-self: center;
    margin-bottom: 10px;
    height: 50px;
    width: 90px;
}

#selector_form {
    align-self: center;
    display: flex;
    flex-direction: column;
}

#selector_input {
    margin-bottom: 5px;
}

#yellow_div {
    cursor: pointer;
    align-self: center;
    margin-bottom: 20px;
    background-color: yellow;
    height: 100px;
    width: 100px;
}

section:nth-child(5) {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#red_div {
    align-self: center;
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
    background-color: red;
}

#button_under_red_div {
    margin-top: 60px;
    width: 90px;
    align-self: center;
}

#green_div {
    align-self: center;
    margin-bottom: 10px;
    width: 50px;
    height: 20px;
    background-color: green
}

#input_under_green_div {
    width: 120px;
    align-self: center;
}

#image_form {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 160px;
}

#image_input {
    align-self: center;
    width: 350px;
    height: 100px;
}

#image {
    align-self: center;
    margin-top: 20px;
    width: 350px;
}

section:nth-child(8) {
    position: fixed;
    height: 100px;
    width: 200px;
    top: 0;
    right: 0;
}

section:nth-child(8) > p {
    align-self: flex-end;
    margin: 10px 20px 0 0
}

section:nth-child(9) > div{
    align-self: center;
    text-align: center;
    width: 200px;
}

section:nth-child(10) {
    position: fixed;
    right: 0;
    bottom: 10px;
    margin: 0;
}

#up_button {
    align-self: flex-end;
    width: 200px;
    font-size: 24px;
}

section:nth-child(11) {
    display: flex;
    align-items: center;
}
#outer_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: black;
}

#inner_div {
    height: 125px;
    width: 125px;
    background-color: green;
}

#noscroll_rectangle_button {
    align-self: center;
    width: 150px;
}

#noscroll_rectangle {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

section:nth-child(13) > form {
    align-self: center
}

section:nth-child(14) > form{
    box-sizing: border-box;
    border: 5px dashed #5f5f5f;
    border-radius: 10px;
    background-color: gray;
    width: 400px;
    height: 200px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: backround-color 0.5s ease, border-color 0.5s ease;
}

#nice_file_input {
    display: none;
}

#nice_file_input + img {
    margin-bottom: 15px;
}

#nice_file_input_label {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#nice_file_input_label > span {
    color:#143aa0;
    cursor: pointer;
}

#nice_file_result {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: none;
}