@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');

:root {
    --primary: #2B4074;
    --secondary: #F9F6E5;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto Condensed, sans-serif;
}

hr {
    height: 8px;
    width: 100px;
    border: none;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    width: 100%;
    height: 100px;
}

.header-logo {
    margin-left: 4.5%;
}

.header-menu-button {
    margin-right: 6%;
    border: none;
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    background-color: white;
    cursor: pointer;
}

.intro {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg-img.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-style: normal;
    text-align: center;
    color: white;
}

.intro-header {
    margin: 0;
    font-size: 500%;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 100%;
}

.intro-paragraph {
    font-size: 120%;
    width: 100vh;
}

.intro-more-button {
    height: 50px;
    width: 200px;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: var(--primary);
    cursor: pointer;
}

.intro-pagination {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20vh;
    list-style: none;
    width: 50px;
    height: 100%;
    padding: 0;
}

.intro-pagination-element {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
}

.intro-pagination-element:nth-child(2) {
    margin-right: 10px;
    margin-left: 10px;
}

#active.intro-pagination-element {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    border: 1px solid white;
}

.intro-carousel {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 60px;
    align-self: flex-end;
}

.intro-carousel-button {
    margin-bottom: 1px;
    width: inherit;
    height: 60px;
    border: none;
    cursor: pointer
}

.intro-carousel-button:nth-child(1) {
    color: white;
    background-color: var(--primary);
}

.intro-carousel-button:nth-child(2) {
    color: #929292;
    background-color: var(--secondary);
}

.promo {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    color: white;
}

.promo-header {
    margin: 0 0 0 10%;
    width: 50%;
}

.promo-paragraph {
    margin: 1% 0 0 10%;
    width: 50%;
}

.promo-button {
    position: absolute;
    width: 200px;
    height: 50px;
    align-self: flex-end;
    margin-right: 10%;
    border-radius: 3px;
    color: var(--primary);
    background-color: var(--secondary);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
} 

.services-header {
    margin-left: 10%;
    width: 30%;
    font-size: 48px;
    margin-bottom: 7%;
    color: var(--primary);
}

.services-main-paragraph {
    margin-left: 10%;
    width: 30%;
    font-size: 24px;
    color: #4A4A4A;
}

.services-line {
    margin-left: 10%;
    background-color: var(--primary);
}

.services-second-paragraph {
    margin-left: 10%;
    width: 30%;
    font-size: 18px;
    color: #797979;
}

.services-wrapper {
    position: absolute;
    align-self: flex-end;
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%
}

.services-grid-element {
    box-sizing: border-box;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    border: 1px solid var(--secondary);
    color: #4A4A4A;
    font-weight: bold;
    letter-spacing: 2px;
}

.services-grid-element-icon {
    margin-bottom: 10%;
}

.services-grid-hidden-elements {
    opacity: 0;
    height: 0;
    letter-spacing: normal;
    transition: height 0.5s ease, opacity 0.5s ease;
}

.services-grid-element:hover > .services-grid-hidden-elements {
    opacity: 1;
    width: inherit;
    height: 25%;
}

.services-grid-element:hover {
    border: 5px solid var(--primary);
}

.services-grid-hidden-paragraph {
    color: #9B9B9B;
    font-weight: 500;
    margin: 12.5% 4% 10% 4%;
}

.services-grid-hidden-anchor {
    color: var(--primary);
    text-decoration: none;
}

.projects {
    height: 100vh;
    background: linear-gradient(180deg, var(--primary) 0%, #fff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.projects-header {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 1%;
    text-transform: capitalize;
}

.projects-line {
    background-color: #fff;
    margin-bottom: 5%;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 2.5%;
    justify-content: center;
    align-items:center
}

.projects-portfolio-paragraph {
    text-align: center;
    letter-spacing: 2px;
    color: var(--primary);
    font-weight: 700;
    margin-top: 10%;
}

.projects-elements {
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33vh;
    height: 33vh;
    background-image: url(../images/projects-img-1.png);
    background-size: cover;
}

.projects-elements:nth-child(2) {
    background-image: url(../images/projects-img-2.png);
}

.projects-elements:nth-child(3) {
    background-image: url(../images/projects-img-3.png);
}

.projects-elements:nth-child(4) {
    background-image: url(../images/projects-img-4.png);
}

.projects-hidden-elements {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 3px;
    height: 0;
    width: 0;
    background-color: rgba(249, 246, 229, 0.8);
    transition: opacity 0.5s ease, height 0.5s ease, width 0.5s ease;
}

.projects-elements:hover > .projects-hidden-elements {
    opacity: 1;
    height: 90%;
    width: 90%;
}

.projects-hidden-img-anchor {
    margin: 0 5% 0 5%
}

.video {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-img {
    border-radius: 4px;
    margin-right: 7.5%;
}

.video-content {
    width: 35%;
}

.video-header {
    font-size: 48px;
    font-weight: 400;
}

.video-line {
    margin: 0;
    margin-bottom: 2.5%;
    background-color: var(--primary);
}

.video-paragraph {
    margin: 5% 0;
    color: #9B9B9B;
    font-size: 18px;
    line-height: 24px;
}

.video-button {
    height: 60px;
    width: 230px;
    background-color: var(--primary);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
}

.news {
    height: 120vh;
    width: 100%;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.news-header {
    color: #4A4A4A;
    margin: 5% 0 1% 0;
    font-size: 48px;
    font-weight: 400;
    text-transform: capitalize;
}

.news-line {
    position: relative;
    width: 100px;
    height: 8px;
    background-color: var(--primary);
    margin-bottom: 2.5%;
}

.news-wrapper {
    position: relative;
    height: 72.5%;
    max-height: 900px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    gap: 2.5%;
}

.news-grid-element {
    position: relative;
    width: 30vh;
}

.news-grid-img {
    width: 100%;
    border-radius: 4px;
}

.news-grid-element:nth-of-type(4n+1) {order: 1;}
.news-grid-element:nth-of-type(4n+2) {order: 2;}
.news-grid-element:nth-of-type(4n+3) {order: 3;}
.news-grid-element:nth-of-type(4n)   {order: 4;}

.news-grid-caption {
    margin: 0;
    display: flex;
    align-items: flex-end;
    position: absolute;
    height: 100%;
    width: 100%;
    font-weight: 700;
    letter-spacing: 2px;
}

.news-grid-caption-content {
    display: flex;
    align-items: center;
    padding-left: 5%;
    margin: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    transition: margin-bottom 0.5s ease;
}

.news-grid-hidden-element:hover ~ .news-grid-caption > .news-grid-caption-content, .news-grid-caption-content:hover {
    z-index: 1;
    background-color: var(--primary);
    color: var(--secondary);
    margin-bottom: 12.5%;
}

.news-grid-hidden-element {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    position: absolute;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    transition: opacity 0.5s ease
}

.news-grid-hidden-element:hover {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    border: 10px solid var(--primary);
}

.testimonial {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.testimonial-quotes {
    color: var(--primary);
    margin-bottom: 2.5%;
}

.testimonial-quote {
    color: #4A4A4A;
    margin: 0 25%;
    font-size: 36px;
}

.testimonial-quote-span {
    color: var(--primary);
    font-weight: 700;
}

.testimonial-caption {
    margin-top: 2.5%;
    color: #4A4A4A;
    font-size: 24px;
    font-weight: 700;
}

.testimonial-pagination {
    position: relative;
    margin-top: 6.5%;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    list-style: none;
    height: 10px;
    width: 50px;
}

.testimonial-pagination-element {
    padding: 0;
    border: none;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary);
}  

#active.testimonial-pagination-element {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--primary);
}

.testimonial-pagination-element:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    color: #fff;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo-section {
    bottom: 97.5%;
    margin: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}

.footer-logo {
    border-radius: 4px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 260px;
}

.footer-content {
    width: 80%;
}

.footer-paragraph {
    line-height: 32px;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 7.5%;
}

.footer-sm {
    width: 100%;
    display: flex;  
}

.footer-sm-section {
    width: 100%;
    text-align: center;
    border: 1px #7EBF84;
    border-style: solid solid solid none;
    padding: 3vh
}

.footer-sm-section:nth-child(4) {
    border-style: solid none;
}

.footer-sm-anchor {
    color: #fff;
}

.footer-info {
    margin-top: 10%;
    width: 100%;
    display: flex;
}

.footer-info-section {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.footer-info-paragraph {
    color: var(--secondary);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 8%;
}

.footer-info-anchor {
    text-decoration: none;
    color: #fff;
    margin-bottom: 2.5%;
}

.footer-address > .footer-info-anchor {
    line-height: 175%;
}

.footer-up {
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 0;
    align-self: center;
    justify-content: flex-end;
    background-color: var(--secondary);
}

.footer-up-content {
    text-decoration: none;
    display: flex;
    color: #4A4A4A;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2.5%;
    width: 100%;
}

.footer-up-paragraph {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-right: 0.5%;
}

.footer-up-arrow {
    color: var(--primary);
}