@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import  "~/tabulator-tables/dist/css/tabulator.min.css";

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#usersTable {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    margin: 50px 0;
}

table {
    border-collapse: collapse;
    font-family: "Montserrat", sans-serif;
    height: 200px;
    width: 800px;
    font-size: 24px;
    text-align: center;
}

thead {
    background-color: rgb(173, 173, 173);
    color: rgb(255, 255, 255);
}

th:hover{
    background-color: rgb(128, 128, 128)
}

tr:hover {
    background-color: rgb(207, 207, 207);
}

th {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

th, td{
    width: 100px;
    padding: 20px;
    font-weight: normal;
}